extends master
block pageContent
  include listingsmaster
  div(class="listingPage")
    if (pageInfo.listingExists)
      if (listingInfo.imageURL == null)
        -var imageSource = "/public/images/imageNotFound.png";//Get the source based on whether the url index is found
      else
        -var imageSource = listingInfo.imageURL;
      -var altString = street_num + " " + listingInfo.street_name + " " + listingInfo.suburb;
      if (listingInfo.unit_num != "") 
        -var houseOrApartmentString = "Apartment";
        -var unitAddress = listingInfo.unit_num + "/";
      else
        -var houseOrApartmentString = "House";
        -var unitAddress = "";
      if (listingInfo.car == null)
        -var car = "0"
      else
        -var car = listingInfo.car
      div(class="listingTop")
        div(class="listingDescription")
          h2(style="color: red;")= listingInfo.price
          h3(style="font-variant: small-caps; color: rgb(50, 50, 50);")= unitAddress + listingInfo.street_num +  " " + listingInfo.street_name + " " + listingInfo.suburb + ", " + listingInfo.postcode
          p(style="color: red;")= "Beds: " + listingInfo.bed + " | " + "Baths: " + listingInfo.bath + " | " + "Cars: " + car 
        div(class="listingImage")
          img(src=imageSource, alt=altString, style="width: 100%;")
      br
      hr
      br
      p= listingInfo.property_description
    else
      h1 Oops...
      br
      p This is not a valid listing, please try searching for another property via our property search.
